body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#loading-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; /* White background */
  z-index: 5; /* On top of everything */
}

.loading-circle {
  width: 50px;
  height: 50px;
  border: 5px solid #DC7D57;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#loading-indicator p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #DC7D57;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.input_video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Ensure the video is visible */
}

.output_canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2; /* Canvas overlay above the video */
}

.color-display {
  position: absolute;
  background: transparent;
  color: white;
  margin-left: 75%;
  margin-top: 50px;
  z-index: 4; /* Ensure it's on top */
}

.progress-box-1,
.progress-box-2 {
  width: 27%;
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-family: Arial, sans-serif;
  position: fixed; /* Position fixed to always stay at the bottom */
  bottom: 5%; /* Position 5% from the bottom of the viewport */
  background-color: white;
  border-radius: 20px;
  gap: 0;
  z-index: 3; /* Above video and canvas */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.progress-box-1 {
  align-items: center; /* Center contents horizontally */
  text-align: center; /* Center text horizontally */
}

.progress-box-1 p {
  color: #213d68b2;
}

.progress-box-2 {
  display: none; /* Hide initially */
  align-items: center; /* Center contents horizontally */
  text-align: center; /* Center text horizontally */
}

.progress-box-2 p {
  margin-top: -10px;
}

.progress-indicator {
  display: flex;
  justify-content: flex-start; /* Align content to the start (left) */
  align-items: center; /* Align items vertically */
  width: 100%; /* Full width to push content left */
}

.progress-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#3ac0a0 0%, #3ac0a0 0%, #ccc 0%, #ccc 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-right: 10px; /* Add margin for spacing between circle and text */
}

.progress-value {
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 8%;
  text-wrap: nowrap;
  margin-top: 20px;
  width: 100%; /* Full width to align buttons */
}

.start-scan-button {
  padding: 10px;
  border: black solid;
  color: #f01717;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  border-radius: 30px;
  width: 180px;
}

.homepage-button {
  color: #213d68;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: transparent;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .progress-box-1, .progress-box-2 {
    width: 35%;
  }
}

@media (max-width: 992px) {
  .progress-box-1, .progress-box-2 {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .progress-box-1, .progress-box-2 {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .progress-box-1, .progress-box-2 {
    width: 80%;
  }
}
#error-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it stays above all other content */
}

.error-dialog-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /* Center the dialog box */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  width: 80%;
}

.error-dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #333; /* Dark gray color for close button */
}

.error-dialog-message {
  margin-bottom: 20px;
  font-size: 16px; /* Standard font size for the error message */
  color: #444; /* Slightly darker text color */
}